body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: #000fff;
}

p.new{
	color: white;
	font-size: 75px;
	font-family: "Arizonia";
}

header {
    display: inline-block;
    float: center;
    text-align: center;
    margin-top: 75px;
  }

.form-group{
  width: 30em;
}

